body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font: regular;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 156px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-span {
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list:active {
  color: #404bbf;
  text-decoration: underline;
}
.header-item {
}

.header-link {
}
.contact {
}
.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contact-item {
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero-button {
}
.table {
}
.table-list {
}
.table-list-item {
}
.team {
  background-color: #f4f4fd;
}

.team-list {
}
.team-list-item {
}
.team-img {
}
.team-list-text {
}
.portfolio {
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-img {
}
.portfolio-list-text {
}
.footer {
  background-color: #2e2f42;
}

.footer-span {
}
.footer-paragraph {
}

.table-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.table-subtitle,
.team-subtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-list:hover,
.header-list:focus,
.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.table-list-text,
.team-list-text,
.portfolio-list-text,
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio,
.team-list {
  background-color: #ffffff;
}

.footer-span,
.footer-paragraph {
  color: #f4f4fd;
}
